################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/activity-dashboard.Server/bin/Debug
/activity-dashboard.Server/obj
